@{
    ViewBag.Title = "About";
}
<div class="mx-auto" style="background: darkolivegreen">
    <h3 align="center" style="color:lavender">@ViewBag.Title</h3>
</div>

<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
