@{
    ViewBag.Title = "YARR";
}

<div class="jumbotron">
    <h1>YARR</h1>
    <p class="lead">Pirates that review yur restrants and yer booty.</p>
</div>


<div class="col-md-4">
    <h2>Getting started</h2>
    <p>
        Check out what we've pillaged so fer. 
    </p>
    <p>@Html.ActionLink("Restaurants", "Index", "Restaurant", null, new { @class = "btn btn-info", @style = "color:white" })</p>
</div>
